body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #6a11cb 0%, #2575fc 100%);
    font-family: 'Arial', sans-serif;
    color: #fff;
}

.container {
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Ensuring text inside the container is centered */
}

h1, h2 {
    text-align: center;
    color: #fff;
}

form, .btn-group {
    margin-top: 20px;
}

.navbar {
    width: 100%;
    position: absolute;
    top: 0;
}

.navbar-nav {
    margin-left: 0;
}


.calculator{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
